@import '../font.scss';
@import '../variables.scss';

.self {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  color: #2e1572;
  @extend %interFont;
  height: 33px;
  padding: 13px 15px 12px 15px;
  border-radius: $regular-border-radius;
  padding: 0 15px;
  border: 0;
  background: linear-gradient(180deg, #ffffff 0%, #d5c6fd 100%);
  box-shadow: 0px 15px 30px -5px rgba(46, 21, 114, 0.5);
  border-radius: 70px;
  outline: 0;
  overflow: hidden;
  @extend %transition;
  @extend %shine;
  &:hover {
    cursor: pointer;
    @extend %moveup;
    @extend %transition;
    box-shadow: 0px 20px 40px -4px rgba(46, 21, 114, 0.65);
  }
  &:active {
    @extend %transition;
    @extend %shrink;
  }
}
