@import '../font.scss';
@import '../variables.scss';

.self {
  display: inline-block;
  background-color: $very-dark-grey;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  color: $white;
  @extend %interFont;
  @extend %inset-shadow;
  max-height: 44px;
  padding: 13px 15px 12px 15px;
  border-radius: $regular-border-radius;
  max-width: 320px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.withIcon {
  p {
    display: inline-block;
  }
}


.error {
  background-color: $very-dark-grey;
  border: 1px solid $red;
}

.criticalError {
  background-color: $red;
  border: 1px solid $red;
}

.success {
  background-color: $very-dark-grey;
  border: 1px solid $green;
}
