@import '../font.scss';
@import '../variables.scss';

$max-width: 440px;

.container {
  position: relative;
  max-width: $max-width;
  overflow: hidden;

  &:hover .helper {
    opacity: 1;
    transform: translateY(5px);
  }
}

.self {
  @extend %regular-font;
  background-color: transparent;
  outline: 0;
  color: $white;
  padding: 10px 0;
  border-radius: 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $grey;
  min-width: 320px;
  width: 100%;
  max-width: $max-width;
  @extend %transition;

  &::placeholder {
    color: $grey;
  }

  &:hover::placeholder {
    @extend %transition;
    color: $white;
  }

  &:focus-within {
    @extend %transition;
    border-bottom: 1px solid $white;
  }
}

.error {
  border-bottom: 1px solid $red;
  color: $white;

  &:hover {
    cursor: not-allowed;
    border-bottom: 1px solid $red;
  }

  &:hover::placeholder {
    @extend %transition;
    color: $red;
  }
}

.warning {
  color: $white;
  border-bottom: 1px solid $orange;

  &:hover {
    cursor: not-allowed;
    border-bottom: 1px solid $orange;
  }

  &:hover::placeholder {
    @extend %transition;
    color: $orange;
  }
}

.helper {
  @extend %very-small-font;
  position: absolute;
  right: 0;
  bottom: 12px;
  padding: 6px 15px;
  border: 1px solid $dark-grey;
  border-radius: 25px;
  color: $white;
  @extend %transition;
  opacity: 0;
  transform: translateY(25px);

  &:hover {
    cursor: pointer;
    @extend %transition;
    border: 1px solid $white;
  }
}
