@import '../font.scss';
@import '../variables.scss';

.self {
  display: inline-block;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  color: $white;
  @extend %interFont;
  background-color: $metamask;
  max-height: 44px;
  padding: 13px 15px 12px 15px;
  border-radius: $regular-border-radius;
  max-width: 440px;
  width: 230px;
  border: 0;
}

.withIcon {
  p {
    display: inline-block;
  }
}

.primary {
  @extend %transition;
  @extend %inset-shadow;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    height: 180px;
    top: -90px;
    width: 70px;
    transform: rotate(1deg) translateX(-200%);
    background-color: $white;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4 ease-out;
  }

  &:hover {
    @extend %transition;
    cursor: pointer;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.6);
  }

  &:hover::before {
    transform: rotate(1deg) translateX(440px);
    transition: all 1.2s ease;
  }

  &:active {
    @extend %shrink;
  }
}

.slow,
.notdetected,
.disabled {
  background-color: transparent;
  border: 1px solid $red;
}

.aborted {
  background-color: $red;
  border: 1px solid $red;
}

.loading {
  background-color: transparent;
  border: 1px solid $grey;
}

.onchain,
.confirming {
  background-color: transparent;
  border: 1px solid $metamask;
}

.confirmed {
  background-color: transparent;
  border: 1px solid $green;
}

.icon {
  display: block;
  border-radius: $regular-border-radius;
  @extend %inset-shadow;
  position: absolute;
  right: 5px;
  bottom: 4px;
  width: 34px;
  background-color: pink;
  height: 34px;
}
